

html,body {
    /* height: 100%; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; /*The font for everything*/
    background-color: #f1f1f1;
 }
 
 /* Style the header */
 header {
    height: 15%;
    background-color: #666;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
  /* Style the navigation menu */
  nav {
    /* -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; */
    margin: 10px;
    background: #ccc;
    padding: 20px;
    width: 30vh;
  }
  
  /* Container for flexboxes */
  section {
    min-height: 100%;
    /* display: -webkit-flex; */
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    /* background-color: DodgerBlue; */
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    margin: 20px auto 20px auto;
    min-height: 50vh;
    /* height: 75vh; */
    width: 50vw;
    min-width: 350px;
    /* border: 2px solid black; */
    padding-bottom: 60px;
    
  }
  
  /* Style the footer */
  footer {
    margin-top:60px; 
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    background-color: #777;
    padding: 20px 0px 50px 0px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 500px) {
    section {
      /* -webkit-flex-direction: column; */
      flex-direction: column;
      
      
    }
  }
#myBtn  {
    display: block;
    border: 0;
    padding: .5rem;
    background-color:rgb(242, 203, 30);
    font-size: 2rem;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin: 1rem 0;
    margin: auto;
    margin-top: 2rem;
    text-transform: uppercase;
}
  #about {
      padding: 25px 40px 0px 40px;
      min-width: 300px;
  }

